/* # Fonts
* [reference] https://www.webfx.com/blog/web-design/google-font-api-guide/
*/
@import url('https://fonts.googleapis.com/css?family=Nunito|Noto+Serif+SC|Inter|IBM+Plex+Sans|Poppins|Barlow+Semi+Condensed');

.font-family-primary{
	font-family: "Nunito" !important;
}

.font-barlow{
	font-family: 'Barlow Semi Condensed' !important;
}

.font-poppins{
	font-family: "Poppins", sans-serif !important;
}

.font-ibm-plex{
	font-family: 'IBM Plex Sans' !important;
}

// font-family for specific lang
html:lang(zh-CN) {
	.font-family-primary {
		font-family: "Noto Serif SC" !important;
	}
}

.text-gold {
	color: #DAA520;
}

.font-family-inter {
	font-family: 'Inter' !important;
}

// header not tested yet
.font-size-header {
	font-size: 58px !important;
	font-weight: 700 !important;
	line-height: 75px !important;
}

.font-size-title {
	font-size: 30px !important;
	font-weight: 700 !important;
	line-height: 24px !important;
}

.font-size-text {
	font-size: 15px !important;
	font-weight: 500 !important;
	line-height: 40px !important;
}

.font-size-subtitle {
	font-size: 19px !important;
	font-weight: 400 !important;
	line-height: 40px !important;
}

@media only screen and (max-width: 960px) {
	.font-size-header {
		font-size: 58px !important;
		font-weight: 700 !important;
		line-height: 24px !important;
	}
	
	.font-size-title {
		font-size: 30px !important;
		font-weight: 700 !important;
		line-height: 24px !important;
	}
	
	.font-size-text {
		font-size: 15px !important;
		font-weight: 500 !important;
		line-height: 40px !important;
	}
	
	.font-size-subtitle {
		font-size: 19px !important;
		font-weight: 400 !important;
		line-height: 40px !important;
	}
}